body,
html { 
  
    font-family: 'Montserrat',sans-serif;    
  }
  body{
    background: url(https://images3.alphacoders.com/133/1338701.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  h1{
    font-size: 3em;
    color: white;
  }
  .btn{
    font-weight: 700px;
    border-radius: 300px;
    text-transform: uppercase;

  }
.xr-lr{
    padding: 1em 1em; 
    margin: 2em 2em;
}
.btn-primary{
    background-color: orange;
    border-color: orange;
}
.btn-primary:hover{
    background-color: rgb(244, 164, 14);
    border-color: rgb(244, 164, 14);
    border-width: 4px;  
}
hr{
    border-color: purple;
    border-width: 3px;
    max-width: 65px;

} 
.buffer{
height: 10rem;
}
